footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 1px;
}

footer a {
    text-decoration: none;
    color: white;
}
