<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<header>
    <div class="container" >
        <ul id="lista">
            <a href="https://github.com/willianctti" target="_blank">
                <li>Grupos de Carros</li>
            </a>
            <a href="https://github.com/willianctti" target="_blank">
                <li>Rede de agências</li>
            </a>
            <a href="https://github.com/willianctti" target="_blank">
                <li>Ofertas</li>
            </a>
            <a href="https://github.com/willianctti" target="_blank">
                <li>Fidelidade</li>
            </a>
            <a href="https://github.com/willianctti" target="_blank">
                <li>Dúvidas</li>
            </a>
        </ul>
    </div>
    <div class="inputs">
        <input type="text" placeholder="Digite o local de retirada"> 
        <span class="material-symbols-outlined">
            location_on
        </span>

        <input type="date" name="" id="" placeholder="Data">
        <span class="material-symbols-outlined">
            calendar_month
        </span>

        <a href="https://github.com/willianctti" target="_blank"><input type="submit" value="Procurar" ></a>
        <span class="material-symbols-outlined">
            search
        </span>

    </div>
</header>