<div id="alldestines">
<div id="title">
    <h1>Destinos para descobrir e se inspirar</h1>
    <p>Mais do que alugar carros, nós cuidamos do seu caminho. Confira as nossas dicas de viagem para inspirar sua próxima experiência.</p>
    
</div>

<div id="destines">
    <div class="destination">
        <a href="https://github.com/willianctti" target="_blank"><img src="assets/images/rio.jpg" alt=""></a>
        <p>Rio de Janeiro</p>
        <p class="what"> O que fazer em Rio de Janeiro </p>
    </div>

    <div class="destination">
        <a href="https://github.com/willianctti" target="_blank"><img src="assets/images/pa.jpg" alt=""></a>
        <p>Porto Alegre</p>
        <p class="what"> O que fazer em Porto Alegre</p>
    </div>

    <div class="destination">
        <a href="https://github.com/willianctti" target="_blank"><img src="assets/images/natal.jpg" alt=""></a>
        <p>Natal</p>
        <p class="what"> O que fazer em Natal </p>
    </div>

    <div class="destination">
        <a href="https://github.com/willianctti" target="_blank"><img src="assets/images/gramado.jpg" alt=""></a>
        <p>Gramado</p>
        <p class="what"> O que fazer em Gramado </p>

    </div>

</div>

</div>