div#alldestines {
    background-color: rgb(233, 233, 233);
    margin-top: -30px;
}
#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    
  
    h1 {
      color: green;
      text-shadow: 1px 1px 1px rgb(3, 59, 31);
      font-size: 1.4em;
    }
  
    p {
      font-size: 0.9em;
      text-shadow: 1px 1px 1px black;
    }
}


div#destines {
    display: flex;
    margin-top: -50px;

}

.destination {
    flex: 1;
    text-align: center;
    margin-right: 10px;

    p {
        color: green;
        text-shadow: 1px 1px 1px rgb(3, 59, 31);
        font-weight: bold;
        font-size: 1.2em;
       
    }

    p.what {
        margin-top: -10px;
        font-size: 0.8em;
        color: black;
    }
  }


.destination img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 100px 30px 100px;

    box-shadow: 10px 10px 20px rgba(1, 5, 2, 0.267);
  }